<h1>Welcome to ACJW Shipping Services!</h1>
<h2>Please enter your parcel dimensions, shipping distance, and shipping preferences:</h2>

<form action='/shipping_cost'>
  <div class="form-group">
    <label for="length">Package length (in inches)</label>
    <input id="length" name="length" class="form-control" type="number">
  </div>
  <div class="form-group">
    <label for="width">Package width (in inches)</label>
    <input id="width" name="width" class="form-control" type="number">
  </div>
  <div class="form-group">
    <label for="height">Package height (in inches)</label>
    <input id="height" name="height" class="form-control" type="number">
  </div>
  <div class="form-group">
    <label for="weight">Package weight (in pounds)</label>
    <input id="weight" name="weight" class="form-control" type="number">
  </div>
  <div class="form-group">
    <label for="distance">Distance to ship (in miles)</label>
    <input id="distance" name="distance" class="form-control" type="number">
  </div>





  <div class="radio">
    <label>
      <input type="radio" name="delivery_type" id="normal" value="normal">
      Normal: Will arrive in 5 to 10 business days
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="delivery_type" id="fast" value="fast">
      Fast: Will arrive in 2 to 5 business days
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="delivery_type" id="overnight" value="overnight">
      Overnight: Arrives the next business day
    </label>
  </div>
  <button type="submit" class="btn">Calculate Shipping Cost</button>
</form>
